body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 30px;
    margin-top: 50px;
}

h1 {
    margin-bottom: 5px;
}

.subtitle {
    color: #555;
    margin-bottom: 20px;
}

.tabs {
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    border: none;
    background: #ddd;
    cursor: pointer;
    margin-right: 5px;
}

.tab.active {
    background: #000;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}